<<<<<<< HEAD
<h1>Hh#newsletter</h1>

<p>
  <%= @greeting %>, find me in app/views/hh_mailer/newsletter.html.erb
</p>
=======
<h1>House Hunters weekly newsletter</h1>

<p>There were <%= @home.count %> homes created in the last week.</p>
>>>>>>> 33a2a16302cd13e30f994602051fd115a1b09b64
