<<<<<<< HEAD
<h1>Hh#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/hh_mailer/welcome.html.erb
=======
<h1>Welcome!</h1>


<h1>Thank you for joing the House Hunter family</h1>

<h2><%= @user.name %></h2>


<p>
  <%= link_to homes_url(@home) do %>
  <% end %>
>>>>>>> 33a2a16302cd13e30f994602051fd115a1b09b64
</p>
