<div class="jumbotron">
  <h1>No Homes Found</h1>
  <p>Please try again later, or
    <% if logged_in? %>
    <%= link_to new_home_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add a listing
    <% end %>
    <% end %>
  </p>
</div>
