.page-header{
   opacity: 0.5;
   background: #AEC6CF;
   background-position: center;
   margin: 50px;
   padding: 50px;
   border: 50px;
   border-radius: 20px;

}

.controller-pages{
   background: image-url('cin.jpg');
   background-size: cover;
}

.landing-row{
  margin: 0;
  justify-content: space-between ;
  align-items: flex-start ;
}
